body {
  width: 100%;

}

main {display: flex; justify-content: center;}

h1 {text-align: center;}

.profileData {
  flex-flow: wrap row;
  width: 25%;
}

.story {
  flex-flow: wrap row;
  width: 50%;
  margin-left: 3em;
}

#bio {border-left: 1px solid lightgrey; padding-left: 10px;}
